.flag {
    width: 1.5em;
    margin-right: 0.3em;
}

div#personal-image {
    background-image: url(../images/crop.jpg);
    background-size: contain;
    background-position: 50%;
    border: 0.3em solid $madison_blue;
    border-radius: 50%;
}

h4.social {
    margin-bottom: 0.1em;
}

.social-link {
    color: #000;
    text-decoration: none;
    line-height: 2.5em;
    margin-right: 1em;
    padding: 0.2em 0.4em;
    color: #fff;
    white-space: nowrap;

    &.network   { background-color: $madison_blue; }
    &.tech      { background-color: $summer_sky_blue; }
    &.discovery { background-color: $cinnabar_red; }
    &.education { background-color: $pelorous_blue; }
    &.content   { background-color: #e4c1f9; }
}
