.flag {
    width: 1.5em;
    margin-right: 0.3em;
}

div#personal-image {
    background-image: url(../images/crop.jpg);
    background-size: contain;
    background-position: 50%;
    border: 0.3em solid $madison_blue;
    border-radius: 50%;
}
