html.wf-fertigoscript-n4-active {
    header h1 {
        font-family: "fertigo-script", sans-serif;
    }
}

html.wf-museoslab-i3-active {
    p {
        font-family: "museo-slab", sans-serif;
    }
}

p {
    font-size: 1.1em;
    line-height: 1.8em;
}

.backed {
    background-color: $madison_blue;
    color: $solitude_blue;
    padding: 0.2em 0.4em;
}
