extends _boilerplate.jade

block content
    #container
        header
            h1 Emily Horsman

        section.left
            #personal-image

        section.right
            article
                include:markdown main_article.md

            section
                include _social.jade

            section
                p
                    img(src="images/flag1.svg", class="flag", alt="Poly pride flag")
                    img(src="images/flag2.svg", class="flag", alt="Pan pride flag")

            section
                p
                    | Website source on 
                    a(href="https://github.com/emilyhorsman/emilyhorsman.com", target="_blank") GitHub

        .clear-fix
