extends _boilerplate.jade

block content
    #container
        header
            #personal-image
            h1 Emily Horsman

        article
            include:markdown main_article.md

        section
            p
                img(src="images/flag1.svg", class="flag")
                img(src="images/flag2.svg", class="flag")
