extends _boilerplate.jade

block content
    #container
        header
            h1 Emily Horsman

        section.left
            #personal-image

        section.right
            article
                include:markdown main_article.md

            section
                include _social.jade

            section
                p
                    img(src="images/flag1.svg", class="flag")
                    img(src="images/flag2.svg", class="flag")

        .clear-fix
